:root {
--background-color: #1D2254;
  --background-color-block: #FFFFFF;

  --accent-color: #6A24FF;

  --font-size-32: 32px;
  --font-size-34: 34px;
  --font-size-36: 36px;

  --font-color: #3A3D5B;
  --font-color-leight: #A3A3A3;
  --font-color-h2: #1D2254;

  --basic-padding: 16px;
  --half-padding: 8px;
  --basic-margin: 16px;
  --half-margin: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #252525;
    --background-color-block: #1E1A1A;

    ----accent-color: #ECE7F6;

    --font-color: #EAEBF6;
    --font-color-leight: #A3A3A3;
    --font-color-h2: #9F9F9F;
  }
}
